/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap';

$carolina-blue: #4B9CD3; /* Carolina Blue */
$dark-blue: #13294B; /* Dark Blue */
$light-blue: #A4C8E1; /* Light Blue */
$white: #FFFFFF; /* White */
$black: #151515; /* Black */
$longleaf-green: #00594C; /* Longleaf Green */
$campus-sandstone: #F4E8DD; /* Campus Sandstone */
$font-family: 'Roboto', sans-serif; /* Modern Font */
$reveal-font: 'Source Sans Pro', sans-serif; /* Font for reveal.js slides */
$code-block-bg: #F4E8DD; 

/*-- scss:rules --*/
body {
    background-color: $white;
    color: $dark-blue;
    font-family: $font-family; /* Apply the modern font */
}

h1, h2, h3 {
    color: $carolina-blue;
}

a {
    color: $carolina-blue;
    &:hover {
        color: $light-blue;
    }
}

code {
    color: $longleaf-green;
}

$mermaid-bg-color: $body-bg;
$mermaid-edge-color: $secondary;
$mermaid-node-fg-color: $body-color;
$mermaid-fg-color: $body-color;
$mermaid-fg-color--lighter: lighten($body-color, 10%);
$mermaid-fg-color--lightest: lighten($body-color, 20%);
$mermaid-font-family: $font-family-sans-serif;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $secondary;
$mermaid-node-bg-color: rgba($secondary, 0.1);
$mermaid-node-fg-color: $secondary;

/* Reveal.js specific styles */
.reveal {
  font-family: $reveal-font;
  
  .faded {
    color: #999999;
    text-decoration: line-through;
  }
}